run = "npm install && npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "cd client && npm install && npm run build && cd ../server && npm install && node index.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3003
externalPort = 80
