run = "npm run build && node server/index.js"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run build && node server/index.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 5000
externalPort = 80
