run = "cd client && npm install && npm run build && cd ../server && npm install && node index.js"

[nix]
channel = "stable-24_05"

[env]
PORT = "3000"

[deployment]
run = ["sh", "-c", "cd client && npm install && npm run build && cd ../server && npm install && node index.js"]
deploymentTarget = "cloudrun"

[[ports]]
localPort = 3000
externalPort = 80
